@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&swap);

@import url(https://fonts.googleapis.com/css?family=Rosario:700&swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #555555;
  line-height: 1;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.3333333333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 35px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★ ★ ★ ★ ★";
  display: block;
  color: #ffd300;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★ ★ ★ ★ ★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #dab604;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

@supports (padding-top: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem )) {
  .header {
    padding-top: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem )) {
  .header {
    padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.505952381rem  +  3.7202380952vw , 2.8125rem )) {
  .header {
    padding-bottom: clamp( 1.25rem , 0.505952381rem  +  3.7202380952vw , 2.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.505952381rem  +  3.7202380952vw , 2.8125rem )) {
  .header {
    padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 42);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 56px;
  height: 56px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  background-color: #F3FBF8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__search img {
  background-size: contain;
  margin: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__cart {
  background-color: #F3FBF8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 2rem;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__cart img {
  background-size: contain;
  margin: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__btn {
  background-color: #09A66D;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.625rem 1.4375rem;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  margin: 0px -1.25rem;
}

.menu__item {
  margin: 0px 1.25rem;
  position: relative;
}

.menu__item::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.125rem;
  width: 0;
  bottom: -0.1875rem;
  left: 0;
  background-color: #218f67;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem )) {
  .footer {
    padding-top: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem )) {
  .footer {
    padding-top: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.8035714286rem  +  13.3928571429vw , 7.5rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , -0.8035714286rem  +  13.3928571429vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.8035714286rem  +  13.3928571429vw , 7.5rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 42);
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__text {
  max-width: 21.5625rem;
  width: 100%;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem )) or (column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem ))) {
  .footer__block {
    -webkit-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
       -moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
            column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem )) or (column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem ))) {
  .footer__block {
    -webkit-column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
       -moz-column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
            column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem )) or (column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem ))) {
  .footer__wrap {
    -webkit-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
       -moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
            column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem )) or (column-gap: clamp( 1.25rem , -2.1590909091rem  +  17.0454545455vw , 8.75rem ))) {
  .footer__wrap {
    -webkit-column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
       -moz-column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
            column-gap: calc(1.25rem + 7.5 * (100vw - 20rem) / 44);
  }
}

.footer__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2916666667;
  color: #222;
}

.footer__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__item {
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.footer__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5625rem -1.5625rem 0px;
}

.footer__social li {
  margin: 0px 1.5625rem;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.home {
  background-color: #F3FBF8;
  z-index: 5;
}

@supports (padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem )) {
  .home {
    padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem )) {
  .home {
    padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.818452381rem  +  3.7202380952vw , 3.125rem )) {
  .home {
    padding-bottom: clamp( 1.5625rem , 0.818452381rem  +  3.7202380952vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.818452381rem  +  3.7202380952vw , 3.125rem )) {
  .home {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 42);
  }
}

.home__info {
  position: relative;
  z-index: 1;
}

.home__title {
  line-height: 1.2857142857;
  font-family: "Rosario", sans-serif;
  color: #222;
  margin-bottom: 1.25rem;
  text-align: center;
  z-index: 5;
}

@supports (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .home__title {
    font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .home__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.home__title::before {
  content: url("../img//grass.png");
  position: absolute;
  top: -8.125rem;
  left: -6.25rem;
  z-index: -2;
}

.home__text {
  line-height: 1.6666666667;
  text-align: center;
  max-width: 39.8125rem;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.home__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 2.5rem )) {
  .home__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 2.5rem )) {
  .home__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 28);
  }
}

.home__btn {
  max-width: 11.25rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 0px 0.625rem;
  position: relative;
  z-index: 5;
  height: 4rem;
  border-radius: 3.125rem;
  overflow: hidden;
}

@supports (font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem )) {
  .home__btn {
    font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem )) {
  .home__btn {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 42);
  }
}

.home__btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4rem;
  background-color: #09A66D;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  border-radius: 3.125rem;
}

.home__btn span {
  width: 4rem;
  height: 4rem;
  display: block;
  background-color: #09A66D;
  margin-left: 1.25rem;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
}

.home__btn span img {
  margin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no-webp .home__bg-ibg{
  background: url(../img/bg.png) center center no-repeat; }

.home__bg-ibg {
  width: 53.875rem;
  height: 29.125rem;
  -webkit-box-shadow: inset 1px 1px 88px 32px rgb(243, 251, 248);
  box-shadow: inset 1px 1px 88px 32px rgb(243, 251, 248);
}

.home__items {
  color: #000;
  text-align: center;
  margin-left: 1.875rem;
}

.home__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.0625rem 2.625rem 1.0625rem 2.0625rem;
  background-color: #fff;
}

.home__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.home__img {
  display: block;
  background-color: #F3FBF8;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
  position: relative;
}

.home__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home__subscribe {
  font-size: 3rem;
  line-height: 1;
}

@supports (padding-top: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem )) {
  .services {
    padding-top: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem )) {
  .services {
    padding-top: calc(3.125rem + 5.625 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem )) {
  .services {
    padding-bottom: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.4464285714rem  +  13.3928571429vw , 8.75rem )) {
  .services {
    padding-bottom: calc(3.125rem + 5.625 * (100vw - 20rem) / 42);
  }
}

.services__title {
  position: relative;
  z-index: -5;
  line-height: 1.2857142857;
  font-family: "Rosario", sans-serif;
  color: #222;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .services__title {
    font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .services__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.services__title::after {
  content: url("../img/line.png");
  position: absolute;
  top: -160px;
  right: -80 px;
  z-index: -1;
}

.services__text {
  line-height: 1.6666666667;
  max-width: 39.8125rem;
  width: 100%;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__slider {
  height: 31.25rem;
  overflow: hidden;
}

.services__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 31.25rem;
  width: 100%;
  padding: 2.5625rem 3.6875rem;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services__img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F3FBF8;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services__img img {
  margin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__info {
  max-width: 17.3125rem;
  width: 100%;
  margin-left: 1.5rem;
}

.services__name {
  font-weight: 700;
  color: #222;
}

@supports (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem )) {
  .services__name {
    font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.25rem )) {
  .services__name {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 28);
  }
}

.services__name:not(:last-child) {
  margin-bottom: 0.5rem;
}

.services__paragraph {
  font-size: 0.875rem;
}

.services__bg-ibg {
  width: 37.5rem;
  height: 37.5rem;
}

.services__bg-ibg img {
  z-index: 5;
  width: 100%;
  height: 100%;
}

.special {
  background-color: #F3FBF8;
}

@supports (padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem )) {
  .special {
    padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0119047619rem  +  7.4404761905vw , 5.625rem )) {
  .special {
    padding-top: calc(2.5rem + 3.125 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.3273809524rem  +  13.9880952381vw , 9rem )) {
  .special {
    padding-bottom: clamp( 3.125rem , 0.3273809524rem  +  13.9880952381vw , 9rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.3273809524rem  +  13.9880952381vw , 9rem )) {
  .special {
    padding-bottom: calc(3.125rem + 5.875 * (100vw - 20rem) / 42);
  }
}

.special__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special__bg-ibg {
  width: 37.5rem;
  height: 37.5rem;
}

.special__info {
  max-width: 35.9375rem;
  width: 100%;
  margin-left: 3.125rem;
}

.special__title {
  margin: 1.875rem 0px;
  line-height: 1.2857142857;
  font-family: "Rosario", sans-serif;
  color: #222;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .special__title {
    font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .special__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.special__text {
  margin-bottom: 3.125rem;
  position: relative;
  z-index: 5;
}

.special__text::before {
  content: url("../img//grass.png");
  position: absolute;
  bottom: -27rem;
  right: -12rem;
  z-index: -1;
}

.special__btn {
  max-width: 11.25rem;
  width: 100%;
  font-weight: 500;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 0px 0.625rem;
  position: relative;
  z-index: 5;
  height: 4rem;
  border-radius: 3.125rem;
  overflow: hidden;
}

@supports (font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem )) {
  .special__btn {
    font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9404761905rem  +  0.2976190476vw , 1.125rem )) {
  .special__btn {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 42);
  }
}

.special__btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4rem;
  background-color: #09A66D;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  border-radius: 3.125rem;
}

.special__btn span {
  width: 4rem;
  height: 4rem;
  display: block;
  background-color: #09A66D;
  margin-left: 1.25rem;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
}

.special__btn span img {
  margin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports (padding-top: clamp( 3.125rem , 2.5297619048rem  +  2.9761904762vw , 4.375rem )) {
  .apps {
    padding-top: clamp( 3.125rem , 2.5297619048rem  +  2.9761904762vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5297619048rem  +  2.9761904762vw , 4.375rem )) {
  .apps {
    padding-top: calc(3.125rem + 1.25 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem )) {
  .apps {
    padding-bottom: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem )) {
  .apps {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 42);
  }
}

.apps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__bg-ibg {
  width: 15rem;
  height: 31.0625rem;
  position: relative;
  margin-right: 1.25rem;
}

.apps__bg-ibg::before {
  content: url("../img/iphone-back.png");
  position: absolute;
  top: 2rem;
  left: -1.5625rem;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.apps__info {
  max-width: 41.375rem;
  width: 100%;
}

.apps__tag {
  padding: 0.6875rem 1.5rem;
  border-radius: 3.125rem;
  background-color: #F3FBF8;
}

.apps__title {
  line-height: 1.2857142857;
  font-family: "Rosario", sans-serif;
  color: #222;
  margin-bottom: 1.25rem;
  margin: 1.8125rem 0px 1.125rem;
}

@supports (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .apps__title {
    font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .apps__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.apps__text {
  margin-bottom: 3.125rem;
  max-width: 34.1875rem;
  width: 100%;
}

.apps__link:not(:last-child) {
  margin-right: 1.5rem;
}

.apps__link img {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

@supports (padding-top: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem )) {
  .about {
    padding-top: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.6369047619rem  +  7.4404761905vw , 6.25rem )) {
  .about {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 42);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.1488095238rem  +  14.880952381vw , 9.375rem )) {
  .about {
    padding-bottom: clamp( 3.125rem , 0.1488095238rem  +  14.880952381vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.1488095238rem  +  14.880952381vw , 9.375rem )) {
  .about {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 42);
  }
}

.about__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__info {
  max-width: 40rem;
  width: 100%;
}

.about__title {
  line-height: 1.2857142857;
  font-family: "Rosario", sans-serif;
  color: #222;
  margin-bottom: 1.25rem;
  margin-bottom: 1.875rem;
}

@supports (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .about__title {
    font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.6071428571rem  +  4.4642857143vw , 4.375rem )) {
  .about__title {
    font-size: calc(2.5rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.about__text {
  max-width: 36.625rem;
  width: 100%;
  margin-bottom: 2.5rem;
}

.about__name {
  font-weight: 500;
  line-height: 1.2;
  color: #222;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
  .about__name {
    font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
  .about__name {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 28);
  }
}

.about__user-ibg {
  max-width: 31.25rem;
  width: 100%;
  height: 31.25rem;
}

.swiper-button-prev {
  position: absolute;
  bottom: 30px;
  left: 320px;
  width: 56px;
  height: 56px;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.swiper-button-prev svg {
  margin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-button-next {
  position: absolute;
  bottom: 30px;
  left: 400px;
  width: 56px;
  height: 56px;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.swiper-button-next svg {
  margin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 80em) {
  .home__item {
    padding: 0.5625rem 1.25rem 0.5625rem 1rem;
  }

  .home__subscribe {
    font-size: 1.75rem;
  }
}

@media (max-width: 61.99875em) {
  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #09A66D;
    z-index: 2;
    padding-top: 100px;
    -webkit-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #218f67;
    z-index: 3;
  }

@supports (height: clamp( 4.5rem , 3.6666418643rem  +  4.1667906783vw , 6.25rem )) {
    .menu__body::before {
      height: clamp( 4.5rem , 3.6666418643rem  +  4.1667906783vw , 6.25rem );
    }
}

@supports not (height: clamp( 4.5rem , 3.6666418643rem  +  4.1667906783vw , 6.25rem )) {
    .menu__body::before {
      height: calc(4.5rem + 1.75 * (100vw - 20rem) / 41.99875);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.25rem;
    row-gap: 0.625rem;
    color: #fff;
  }

  .icon-menu {
    margin-bottom: 1.875rem;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .home__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home__items {
    width: 100%;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .home__item {
    margin: 0px 0.625rem;
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .services__slide {
    padding: 1.3125rem 1.8125rem;
    max-width: 100%;
  }

  .special__text::before {
    bottom: -23.25rem;
  }

  .apps__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3.125rem;
  }

  .apps__bg-ibg {
    margin: 0 auto;
  }

  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__search {
    margin-right: 0;
  }

  .header__cart {
    margin-right: 0;
  }

  .header__btn {
    background-color: #fff;
    color: #000;
  }

  .home__title::before {
    top: -5.625rem;
  }

  .home__bg-ibg {
    display: none;
  }

  .home__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.25rem;
    margin-top: 2.5rem;
  }

  .home__item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__bg-ibg {
    display: none;
  }

  .special__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .special__bg-ibg {
    width: 100%;
    margin: 0 auto;
  }

  .special__info {
    margin-left: 0px;
  }

  .special__text::before {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .home__title::before {
    top: -3.125rem;
  }

  .services__text {
    margin-bottom: 1.875rem;
  }

  .services__slide {
    padding: 0.3125rem 0.5625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .header__search:hover {
    background-color: #218f67;
  }

  .header__cart:hover {
    background-color: #218f67;
  }

  .header__btn:hover {
    background-color: #218f67;
  }

  .menu__item:hover::after {
    width: 100%;
  }

  .footer__item:hover {
    color: #218f67;
  }

  .footer__email:hover {
    text-decoration: underline;
    color: #218f67;
  }

  .footer__social li:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }

  .home__btn:hover::after {
    width: 100%;
  }

  .services__slide:hover {
    background-color: #F3FBF8;
  }

  .services__slide:hover .services__img {
    background-color: #fff;
  }

  .special__btn:hover::after {
    width: 100%;
  }

  .apps__bg-ibg:hover::before {
    left: -6.5625rem;
  }

  .apps__link:hover img {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }

  .swiper-button-prev:hover {
    background-color: #09A66D;
    border: none;
  }

  .swiper-button-prev:hover svg path {
    fill: #fff;
  }

  .swiper-button-next:hover {
    background-color: #09A66D;
    border: none;
  }

  .swiper-button-next:hover svg path {
    fill: #fff;
  }
}

.webp .home__bg-ibg{ background: url(../img/bg.webp) center center no-repeat; }